<table class="table">
    <thead>
      <tr>
        <th scope="col">id</th>
        <th scope="col">name</th>
        <th scope="col">Address</th>
        <th scope="col">mobile</th>
        <th scope="col">Action</th>
        
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let resto of collection">
          <td>{{resto.id}}</td>
          <td>{{resto.name}}</td>
          <td>{{resto.Address}}</td>
          <td>{{resto.mobile}}</td>
          <td><a routerLink="/update-resto/{{resto.id}}"><i class="fa fa-edit" style="font-size:30px;color:black"></i></a>&nbsp; &nbsp;<button class="btn btn-danger" (click)="deletedata(id)">Delete</button></td>
          
       
      </tr>
    </tbody>
  </table>