<main role="main">

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container">
        <h1 class="display-3">Hello, world!</h1>
        <p>Angular is an application design framework and development platform for creating efficient and sophisticated single-page apps.

            These Angular docs help you learn and use the Angular framework and development platform, from your first application to optimizing complex single-page apps for enterprises</p>
        <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more &raquo;</a></p>
      </div>
    </div>
  
    <div class="container">
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-md-4">
          <h2>Smally’s Resto Cafe</h2>
          <p>
            Address: 73, Brigade Rd, Haridevpur, Shanthala Nagar, Ashok Nagar, Bengaluru<br>

            Timings: 12 noon to 11pm (all days)<br>
            
            Cost for two: INR 800
          </p>
          <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
        </div>
        <div class="col-md-4">
          <h2> Koshy’s Restaurant</h2>
          <p>Address: 39, St. Marks Road, Shanthala Nagar, Ashok Nagar, Bengaluru<br>

            Timings: 9am to 11pm (all days)<br>
            
            Cost for two: INR 700<br>
            
            Speciality: Coffee, Chocolate Shake, Caramel Custard</p>
          <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
        </div>
        <div class="col-md-4">
          <h2>Corner House Ice Cream</h2>
          <p>Address: 1st Floor, No. 67, 1st A Main Road, 7th Block, Koramangala, Bengaluru<br>

            Timings: 9:30am- 11:30am (all days)<br>
            
            Cost for two: INR 250<br>
            
            Speciality: Hot Chocolate Fudge, Brownie Sundae, and Apple Pie</p>
          <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
        </div>
      </div>
  
      <hr>
  
    </div> <!-- /container -->
  
  </main>